In [ ]:
import yfinance as yt
stock_symbol = 'AAPL'#Remplacer with yout symbol
start_date = '2015-01-01'
end_date = '2024-11-21'
data=yt.download(stock_symbol,start=start_date,end=end_date)
data

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
2015-01-02,24.347172,27.332500,27.860001,26.837500,27.847500,212818400
2015-01-05,23.661264,26.562500,27.162500,26.352501,27.072500,257142000
2015-01-06,23.663500,26.565001,26.857500,26.157499,26.635000,263188400
2015-01-07,23.995317,26.937500,27.049999,26.674999,26.799999,160423600
2015-01-08,24.917269,27.972500,28.037500,27.174999,27.307501,237458000
...,...,...,...,...,...,...
2024-11-14,228.220001,228.220001,228.869995,225.000000,225.020004,44923900
2024-11-15,225.000000,225.000000,226.919998,224.270004,226.399994,47923700
2024-11-18,228.020004,228.020004,229.740005,225.169998,225.250000,44686000
2024-11-19,228.279999,228.279999,230.160004,226.660004,226.979996,36211800
2024-11-20,229.000000,229.000000,229.929993,225.889999,228.059998,35169600